.login-navbar {
  width: 98vw;
  position: absolute;
  left: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: rgba(106, 93, 93, 0.181);
  box-shadow: 0 1.5px 14px #494e7422;
  backdrop-filter: blur(8px);
  border-radius: 0 0 16px 16px;
  padding: 0.4em 2em;
}

.logo {
  width: 60px;
  height: 60px;
  background: url('/images/logo.jpg') center/contain no-repeat;
  border-radius: 50%;
  box-shadow: 0 2.5px 8px #322f4955;
}

.login-nav-links {
  list-style: none;
  display: flex;
  gap: 2.3em;
}

.login-nav-links li {
  font-size: 20px;
  color: #41032e;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.23s ease;
}

.login-nav-links li a {
  color: #6f0c52;
  text-decoration: none;
  transition: 0.23s ease;
}

.login-nav-links li a:hover {
  color: #760c71;
}

.login-nav-links li:hover {
  color: #620af1;
}

@media (max-width: 480px) {
  .login-nav-links {
    gap: 0.8em;
  }

  .login-navbar {
    padding: 0.4em 0.6em;
  }
}
